[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=true
Icon=transmission

Name=Bumblebee Utils
Exec=bumblebee_utils

StartupNotify=true
#MimeType=application/x-bittorrent;x-scheme-handler/magnet;
#Categories=Network;FileTransfer;P2P;GTK;
Actions=IntelVO;Inhibit;

[Desktop Action IntelVO]
Name=Start Intel-Virtual-Output
Exec=bumblebee_utils

[Desktop Action Inhibit]
Name=Inhibit Sleep Screen
Exec=bumblebee_utils
